body{
	background-image:url('forest2.jpg');
	background-size:cover;
	background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
	font-family: Helvetica;
}

#lang_switcher{
	display: inline;
	float: right;
	margin-right: 1%;
	text-shadow: 0px 0px 25px white;
}

#lang_switcher a {text-decoration: none;}
#lang_switcher a:link {color: rgba(76, 78, 68, 0.6)}      /* unvisited link */
#lang_switcher a:visited {color: rgba(76, 78, 68, 0.6)}  /* mouse over link */
#lang_switcher a:hover {
	color: rgba(86, 128, 82, 1.1);
	background-color: rgba(86, 128, 82, 0.3);
	text-shadow: 3px 3px 15px #568052;
	box-shadow: 3px 3px 50px 3px #568052;
}

#server_remark{
	display: inline-block;
	width: 40%;
	height: 1px;
	margin-left: 30%;
	margin-top: 10px;
	text-align: center;
	font-size: 15pt;
	color: #F02424;
	text-shadow: 0px 0px 25px white;
}

#box{
	border-radius: 30%;
	margin:8% 35% 9% 35%;
	position: absolute;
	height:400px;
	width:30%;
	border-radius: 5px;
	background: rgba(31,42,35,0.6);
	box-shadow: 3px 3px 50px black;
}

.group {
	position: relative;
	margin-bottom: 50px;
	margin-left: 12%;
	width: 70%;
	margin-top: 17px;
}

input {
	font-size: 18px;
	text-shadow: 4px 4px 30px black;
	color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	display: inline-block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	background: rgba(31,42,35,0);
}
input:focus {
	outline: none;
}

label {
	color: #999999;
	text-shadow: 5px 5px 30px black;
	font-size: 18px;
	position: absolute;
	pointer-events: none;
	left: 10px;
	top: 15px;
	transition: 0.4s ease all;
	-moz-transition: 0.4s ease all;
	-webkit-transition: 0.4s ease all;
}

input:focus ~ label, input:valid ~ label {
	top: -15px;
	font-size: 14px;
	color: #568052 ;
}

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: "";
	height: 2px;
	width: 0;
	bottom: 0;
	position: absolute;
	background: #568052;
	transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-webkit-transition: 0.3s ease all;
}

.bar:before {
	left: 50%;
}
.bar:after {
	right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
	width: 50%;
}

#login_link {
	font-size: 19px;
	text-shadow: 4px 4px 8px black;
	width: 30%;
	text-align: center;
	display: inline-block;
	margin: 8% 0% 8% 13%;
	color: #999999;
	text-decoration: underline;
	text-underline-position: under;
}

#signup_link {
	font-size: 19px;
	text-shadow: 4px 4px 8px black;
	width: 30%;
	text-align: center;
	display: inline-block;
	margin: 8% 0% 8% 10%;
}
.signup_link_in a {text-decoration: none;}
.signup_link_in a:link {color: #999999;}      
.signup_link_in a:visited {color: #999999;}  
.signup_link_in a:hover {
	color: #568052;
	background-color: rgba(86, 128, 82, 0.2);
	box-shadow: 0px 0px 50px #568052;
}

button:hover {
	color: #568052;
	border: 1px solid #568052;
	box-shadow: inset 0 0 0 3px #568052;
	box-shadow: 0px 0px 30px 5px #568052;
}
  
button {
	cursor: pointer;
	float: left;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	color: #B6B6B6;
	padding-top: 3px;
	width: 60%;
	height: 35px;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
	margin-left: 20%;
	background: rgba(31,42,35,0.4);
	box-shadow: 4px 4px 30px black;
}

@media screen and (min-width: 2400px) {
	#box{
		width:30%;
		margin: 19% 35% 9% 35%;
		height: 35%;
		padding-top: 40px;
	}
	button{
		margin-top: 40px;
	}
}


@media screen and (max-width: 1440px) {
	#box{
		width:30%;
		margin:8% 35% 9% 35%;

	}
}

@media screen and (max-width: 1200px) {
	#box{
		width:36%;
		margin:8% 32% 9% 32%;

	}
}

@media screen and (max-width: 1080px) {
	#box{
		width:40%;
		margin:12% 30% 9% 30%;

	}
}

@media screen and (max-width: 912px) {
	#box{
		width:44%;
		margin:15% 28% 9% 28%;

	}
}

@media screen and (max-width: 768px) {
	#box{
		width:50%;
		margin:16% 25% 9% 25%;
	}
}

@media screen and (max-width: 640px) {
	#box{
		width:60%;
		margin:18% 20% 9% 20%;
	}
}

@media screen and (max-width: 540px) {
	#box{
		width:70%;
		margin:20% 15% 9% 15%;
	}
}

@media screen and (max-width: 480px) {
	body{
		background-attachment:none;
		height:100%:
	}
	#box{
		width:80%;
		margin:25% 10% 9% 9%;
	}
	#signup_link{
		font-size:16px;
		margin-top: 14%;
		margin-left: 7%;
	}	
	#login_link{
		font-size:16px;
		margin-top: 14%;
	}
	label{
		font-size: 16px;
	}
	.group{
		margin-top: 25px;
	}
	#lang_switcher{
		display: inline;
		width: 50%;
		margin-left:25%;
		margin-right:25%;
		margin-top:50px;
		text-align: center;
	}
	#server_remark{
		display: inline-block;
		width: 80%;
		height: 1px;
		margin-left: 10%;
		margin-top: 0px;
		font-size: 16px;
	}
}