body {
	font-family: Helvetica;
	font-size: 14pt;
	color:black;
}

#background{
	position: relative;
	display: block;
	width:100%;
	height:250px;
	margin-top: 20px;
	background-image:url('def_images/2.png');
	background-size:cover;
    background-position:center;
}

#lang_switcher{
	display: inline-block;
	float: right;
	margin-right: 15px;
	margin-top: 7px;
	font-size: 14 px;
	text-shadow: 0px 0px 13px white;
}

#lang_switcher a {text-decoration: none;}
#lang_switcher a:link {color: rgba(0, 0, 109, 0.7)}      /* unvisited link */
#lang_switcher a:visited {color: rgba(0, 0, 109, 0.7)}  /* mouse over link */
#lang_switcher a:hover {
	color: #E7E7E7;
	text-shadow: 0px 0px 30px #E7E7E7;
}

#welcome {
	background-color: white;
	text-align:center;
	font-size: 30px;
	position: relative;
	display: inline-block;
	width: 55%;
	height: 50px;
	margin-top: 20px;
	margin-left: 20px; 
	border: 3px solid white;
    box-shadow: 0 0 7px #666;
	padding-top: 12px;
}

#avatar {
	display: inline-block;
	position: relative;
	float:left;
	margin-top: 50px;
	margin-left: 3.636%;
	width:20%;
}

.user_photo {
	height: 250px;
}

.round{
	border-radius: 50%; /* Радиус скругления */
	border: 3px solid white; /* Параметры рамки */
	box-shadow: 0 0 7px #666; /* Параметры тени */
	width: 100%;
}

#full_name {
	display: inline-block;
	float: right;
	font-size: 23pt;
	width: 79%;
	margin-top: 0px;
	margin-left: 40px;
}

#user_info {
	font-size: 26px;
	display: inline-block;
	width: 50%;
	margin-left: 33%;
	margin-top: 20px;
}

#logout_link {
	float: left;
	width: 30%;
	margin-top: 50px;
	margin-left: 33%;
}

.info {
	margin-top: 5px;
}

.signout_link {
	-moz-appearance: button; /* Firefox */
	-webkit-appearance: button; /* Chromium */
	padding: .6em .75em;
	text-decoration: none;
	margin-left: 25px;
	cursor: pointer;
	font-weight: 500;
	text-align: center;
	font-size: 22px;
	color: black;
	background-color: #EAEAEA;
	width: 100%;
	height: 30px;
	border: 3px solid white;
    box-shadow: 0 0 7px #D5D5D5;
}

	.signout_link:hover {
color: #84B6D3;
border: 3px solid #BEDADE;
box-shadow: inset 0 0 0 3px #BEDADE;
box-shadow: 0px 0px 30px 5px #BEDADE;
}

@media screen and (min-width: 2400px) {
	body{
		width:60%;
		margin: 0 auto;
	}
}


@media screen and (max-width: 1080px) {
	#avatar{
		width:22%;
	}
	#welcome{
		width:50%
	}
	#full_name {
		margin-top: 25px;
	}
}

@media screen and (max-width: 980px) {
	#avatar{
		width:24%;
	}
	#welcome{
		width:45%;
		font-size: 25px;
	}
	#full_name {
		font-size: 27px;
		width: 79%;
		margin-top: 40px;
		margin-left: 60px;
	}
}

@media screen and (max-width: 860px) {
	#avatar{
		width:27%;
	}
	#welcome{
		width:43%;
		font-size: 23px;
	}
	#full_name {
		font-size: 24px;
		width: 73%;
		margin-top: 50px;
		margin-left: 60px;
	}
	#user_info {
		font-size: 23px;
	}
	#lang_switcher {
		font-size: 15px;
	}
	.signout_link {
		font-size: 19px;
	}
}

@media screen and (max-width: 768px) {
	#avatar{
		width:29%;
	}
	#welcome{
		width:40%;
		font-size: 20px;
		height: 30px;
	}
	#full_name {
		font-size: 24px;
		width: 73%;
		margin-top: 50px;
		margin-left: 60px;
	}
	#user_info {
		font-size: 23px;
	}
	#lang_switcher {
		font-size: 15px;
	}
	.signout_link {
		font-size: 18px;
	}
}

@media screen and (max-width: 640px) {
	#avatar{
		width:36%;
		margin-left: 32%;
		margin-top: 35px;
	}
	#welcome{
		width:50%;
		font-size: 20px;
		height: 30px;
		padding-top: 7px;
	}
	#full_name {
		font-size: 24px;
		width: 85%;
		margin-top: 15px;
		margin-left: 60px;
	}
	#user_info {
		font-size: 21px;
	}
	#lang_switcher {
		font-size: 15px;
	}
	
	#logout_link {
		width: 50%;
		margin-left: 20%;
	}
	.signout_link {
		padding-top: 5px;
		height: 20px;
		font-size: 17px;
	}
}

@media screen and (max-width: 540px) {
	#avatar{
		width:50%;
		margin-left: 26%;
		margin-top: 35px;
	}
	#welcome{
		width:60%;
		margin-left: 20%;
		font-size: 20px;
		height: 30px;
		padding-top: 7px;
	}
	#full_name {
		font-size: 24px;
		width: 85%;
		margin-top: 15px;
		margin-left: 60px;
	}
	#user_info {
		font-size: 21px;
		margin-top: 5px;
	}
	#lang_switcher {
		font-size: 15px;
	}
	
	#logout_link {
		width: 70%;
		margin-left: 8%;
		margin-top: 25px;
	}
	.signout_link {
		padding-top: 5px;
		font-size: 17px;
	}
}

@media screen and (max-width: 480px) {
	#background{
		height: 230px;
		margin-top: 5px;
	}
		#avatar{
		width:50%;
		margin-left: 24%;
		margin-top: 45px;
	}
	#welcome{
		width:70%;
		margin-left: 14%;
		font-size: 17px;
		height: 30px;
		padding-top: 7px;
		margin-top: 35px;
	}
	#full_name {
		font-size: 24px;
		width: 85%;
		margin-top: 40px;
		margin-left: 60px;
	}
	#user_info {
		font-size: 18px;
		margin-top: 25px;
		margin-left: 20%;
	}
	#lang_switcher {
		font-size: 14px;
	}
	
	#logout_link {
		width: 75%;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 10px;
	}
	.signout_link {
		padding-top: 5px;
		font-size: 15px;
	}
}